---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
import Hero from "../components/Hero.astro"
import AppExplainer from "../components/AppExplainer.astro"
import Features from "../components/Features.astro"
import DesignPhilosophy from "../components/DesignPhilosophy.astro"
import Pricing from "../components/Pricing.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <AppExplainer />
    <Features />
    <DesignPhilosophy />
    <Pricing />
  </main>
  <Footer />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
